nav {
    display: flex;
    margin: 50px 80px;
    font-size: 12px;
    align-items: center;
    font-weight: bold;
    position: relative;
}

.blog {
    position: absolute;
    left: 40%;

}

.logo {
    width: 50px;
}

.services {
    margin: 0 30px;
    position: relative;
}
.services::after {
    content:"";
    border-bottom: 1px solid #c02525;
    position: absolute;
    bottom: -5px;
    left: 7px;
    right: 7px;
}

.account {
    position: absolute;
    right: 0;
}

.phone {
    width: 10px;
    margin: 0 5px;
}

.account-span {
    border-right: 1px solid lightgrey;
    margin: 0 15px;
    padding: 0 15px;
}



