body {
    box-sizing: border-box;
    max-width: 1000px;

}

nav {
    display: flex;
    margin: 50px 90px;
    font-size: 12px;
    align-items: center;
    font-weight: bold;
    position: relative;
}

.blog {
    position: absolute;
    left: 35%;
}

.blog span {
    margin: 15px;
}

.logo {
    width: 50px;
}

.services {
    margin: 0 30px;
    position: relative;
}

.services::after {
    content: "";
    border-bottom: 1px solid #c02525;
    position: absolute;
    bottom: -5px;
    left: 7px;
    right: 7px;
}

.account {
    position: absolute;
    right: 0;
}

.phone {
    width: 10px;
    margin: 0 5px;
}

.account-span {
    border-right: 1px solid lightgrey;
    margin: 0 15px;
    padding: 0 15px;
}

.hero-container {
    margin: 0 80px;
}

.hero-first-row {
    position: relative;
    width: 350px;
    font-size: 15px;
    color: darkgrey;
}


.selected-text {
    color: #a60c0c;
}

.hero-progress {
    width: 45px;
    background-color: #a60c0c;
}

.hero-progress-bar {
    position: absolute;
    width: 295px;
    bottom: 0;
    left: 15px;
    right: 150px;
    height: 1px;
    padding: 0 0;

}

.hero-second-row p {
    color: darkgray;
}

.create-account {
    width: 150px;
    height: 45px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    background-color: #a60c0c;
    border: none;
}

.create-account:hover {
    box-shadow: 0 0 25px rgba(166, 12, 12, 0.4);
}

.choose-plan {
    width: 150px;
    height: 45px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.main-img {
    max-height: 500px;
    min-width: 500px;
}

.img-left-triangle {
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #a60c0c;
    position: absolute;
    left: 0;
    bottom: 40%;
}

.img-right-triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-bottom: 20px solid #a60c0c;
    position: absolute;
    right: 0;
    bottom: 80%;
}

.img-right-triangle-large {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-bottom: 30px solid #a60c0c;
    position: absolute;
    right: 0;
    bottom: 20%;
}

.col-main-img {
    width: 520px;
    overflow: hidden;
    text-align: left;
    position: relative;
}

.hero-content h1 {
    max-width: 350px;
}

.hero-content p {
    max-width: 350px;
}

.hero-content {
    max-width: 400px;
}


.web-hosting {
    margin: 80px 0 0 60px;
}

.web-hosting-description {
    max-width: 400px;
}

.hosting-description {
    max-width: 350px;
    font-size: 11px;
    margin: 20px 0;
}

.web-hosting h1 {
    max-width: 330PX;
}

.hosting-logos div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hosting-logos {
    width: 600px;
}

.hosting-logos img {
    width: 100px;
    margin: 10px;
}

.frames p {
    font-size: 10px;
}

.button-slider {
    display: flex;
    margin: 0 0 0 40px;
    justify-content: space-between;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: #a60c0c;
    align-items: center;
}

.button-slider button {
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 80px;
}

.disabled {
    background-color: #a60c0c;
}

.discount {
    display: flex;
    margin: 0 0 0 20px;
    background-color: #d3d349;
    height: 20px;
    width: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}

.discount small {
    font-size: 10px;
}

.plan button {
    background-color: white;
    border: none;
}

.plan-progress-bar {
    height: 5px;
    width: 750px;
    padding: 0 0;
}

.plan-progress {
    width: 375px;
    background-color: #a60c0c;
}

ul {
    list-style-type: none;
}

ul li {
    color: dimgrey;
}

ul li:before {
    content: '\2713';
    color: black;
}

.plan-card button {
    height: 45px;
    width: 80%;
    margin: 20px 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
}

.plan-card h2 {
    font-size: 50px;
}

.stories1 {
    position: relative;
}


.q-image {
    position: absolute;
    top: -60px;
    left: -45px;
}

.stories-container {
    margin: 150px 0 0 40px;
}

.crypto-card {
    width: 300px;
}

.crypto-align {
    display: flex;
    justify-content: end;
    position: relative;

}

.crypto-align small {
    color: dimgrey;
    padding: 0 0 45px 0;
}

.blue-Q {
    width: 15px;
    position: absolute;
    left: 25px;
    top: 50px;
}

.Jerry-card small {
    color: dimgrey;
}

.Jerry-card {
    position: relative;
}

.blue-Q-Jerry {
    width: 15px;
    position: absolute;
    left: 25px;
    top: 80px;
}

.LeeveOn-card {
    position: relative;
}

.LeeveOn-card small {
    color: dimgrey;
}

.blue-Q-LeeveOn {
    width: 15px;
    position: absolute;
    left: 25px;
    top: 65px;
}

.webservers {
    max-width: 350px;
}

.partner-logos1 {
    height: 80px;
    display: flex;
    justify-content: end;
    gap: 40px;
}

.partner-logos2 {
    height: 80px;
    display: flex;
    justify-content: end;
    gap: 40px;
}

.partner-logo-align {
    position: relative;
}

.partner-logo-div {
    position: absolute;
    right: -50px;
}

.add {
    background-color: #f3f5f8;
    padding: 0 200px 50px 200px;
}

.add button {
    border: none;
    border-radius: 5px;
    background-color: #ad2222;
    color: white;
    font-size: 10px;
    width: 160px;
    height: 35px;
    padding: 0 10px;
    text-align: left;
}

.whatsapp{
    width: 15px;
    margin: 10px 12px 12px 0 ;
}