body {
    box-sizing: border-box;

}

nav {
    display: flex;
    margin: 50px 90px;
    font-size: 12px;
    align-items: center;
    font-weight: bold;
    position: relative;
}

.blog {
    position: absolute;
    left: 35%;
}

.blog span {
    margin: 15px;
}

.logo {
    width: 50px;
}

.services {
    margin: 0 30px;
    position: relative;
}

.services::after {
    content: "";
    border-bottom: 1px solid #c02525;
    position: absolute;
    bottom: -5px;
    left: 7px;
    right: 7px;
}

.account {
    position: absolute;
    right: 0;
}

.phone {
    width: 10px;
    margin: 0 5px;
}

.account-span {
    border-right: 1px solid lightgrey;
    margin: 0 15px;
    padding: 0 15px;
}

.hero-container {
    position: fixed;
    left: 80px;
}

.hero-first-row {
    position: relative;
    width: 350px;
    font-size: 15px;
    color: darkgrey;
}


.selected-text {
    color: #a60c0c;
}

.hero-progress {
    width: 45px;
    background-color: #a60c0c;
}

.hero-progress-bar {
    position: absolute;
    width: 295px;
    bottom: 0;
    left: 15px;
    right: 150px;
    height: 1px;
    padding: 0 0;

}

.hero-second-row p {
    color: darkgray;
}